<script src="/js/socket.io.slim.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>


<style>
#mainButton{
	width:250px;
	height: 250px;
}
#canvas{
    float:left;
}
.cf{
    float:clear;
}
#controls{
    float:left;
}
</style>
<canvas id="canvas" style="cursor:none;" width=500 height=500 style="border:2px solid black;"></canvas>
<div class="cf"></div>
<br/>
<img src="/imgs/cursor.png" id="cursor" width=0px height=0px/>

<img src="/imgs/tree1.png" id="tree1" width=0px height=0px/>
<img src="/imgs/tree2.png" id="tree2" width=0px height=0px/>
<img src="/imgs/tree3.png" id="tree3" width=0px height=0px/>
<img src="/imgs/tree4.png" id="tree4" width=0px height=0px/>

<img src="/imgs/house1.png" id="house1" width=0px height=0px/>
<img src="/imgs/house2.png" id="house2" width=0px height=0px/>
<img src="/imgs/house3.png" id="house3" width=0px height=0px/>
<img src="/imgs/house4.png" id="house4" width=0px height=0px/>
<img src="/imgs/house5.png" id="house5" width=0px height=0px/>
<img src="/imgs/forestry1.png" id="forestry1" width=0px height=0px/>
<img src="/imgs/mine1.png" id="mine1" width=0px height=0px/>
<img src="/imgs/factory1.png" id="factory1" width=0px height=0px/>
<img src="/imgs/forge1.png" id="forge1" width=0px height=0px/>


<img src="/imgs/house6.png" id="house6" width=0px height=0px/>



<img src="/imgs/smallrubble.png" id="smallrubble" width=0px height=0px/>
<img src="/imgs/mediumrubble.png" id="mediumrubble" width=0px height=0px/>


<img src="/imgs/person1.png" id="person1" width=0px height=0px/>
<img src="/imgs/person2.png" id="person2" width=0px height=0px/>
<img src="/imgs/person3.png" id="person3" width=0px height=0px/>
<img src="/imgs/person4.png" id="person4" width=0px height=0px/>
<img src="/imgs/person5.png" id="person5" width=0px height=0px/>
<img src="/imgs/person6.png" id="person6" width=0px height=0px/>
<img src="/imgs/person7.png" id="person7" width=0px height=0px/>

<img src="/imgs/lumberjack.png" id="lumberjack" width=0px height=0px/>
<img src="/imgs/steelworker.png" id="steelworker" width=0px height=0px/>
<img src="/imgs/miner.png" id="miner" width=0px height=0px/>

<br/>
<script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext('2d');
var players = {};
var grid = []
var socket = io(window.location.href, {transports: [ 'websocket']});
document.onmousemove = getMouseXY;
var allow = false;
var presses = 0;
var mx = 0;
var my = 0;
var sealevel = 55;
var tilesize = 0;
var people = [];
var mousemode = 1;

function setmouse(val){
    mousemode = val;
}

class tile{
	constructor(x,y){
		this.x = x;
		this.y = y;
		this.biome = "forest";
		this.water = false;
		this.building = null;
		this.elevation = 0;
		this.forestDepth = 0;
        this.type = null;
        this.owner = null;
	}
	
}

function getMouseXY(e){
	mx = e.x;
	my = e.y;	
	
}
var keysDown = {};
document.onkeydown=checkKey;
document.onkeyup=function(e){
	keysDown[e.keyCode] = null;
}


function checkKey(e){
	e = e || window.event;
	
	keysDown[e.keyCode] = true;
	
}

function ping(){
    if(socket.id != undefined){
		
    }
	setTimeout(ping,pingTime);
};

pingTime = 10;

ping();

document.onmousedown = function(e){
    if(e.button == 0){
        keysDown["leftmouse"] = true;
    }else if(e.button == 1){
        keysDown["middlemouse"] = true;
    }else if(e.button == 2){
        keysDown["rightmouse"] = true;
    }
}

document.onmouseup = function(e){
    if(e.button == 0){
        keysDown["leftmouse"] = false;
    }else if(e.button == 1){
        keysDown["middlemouse"] = false;
    }else if(e.button == 2){
        keysDown["rightmouse"] = false;
    }
}

socket.on("updategrid",function(x,y,g){
    try{
        grid[x][y] = JSON.parse(g);
    }catch(err){

    }
})

socket.on("initgrid",function(g){
	grid = g;
	var copytile = new tile(0,0);
	for(var x = 0; x < grid.length;x++){
		for(var y = 0; y < grid[x].length;y++){
			grid[x][y].draw = copytile.draw;
		}
	}
});

function oob(x,y){
	if(x < 0 || y < 0 || y > grid.length-1 || x > grid.length-1){
		return true;
	}else{
		return false;
	}
}

function drawAll(){
	ctx.font = "24px Arial";
	ctx.clearRect(0,0,canvas.width,canvas.height);
	tilesize = canvas.width/grid.length;
	for(var x = 0; x < grid.length;x++){
		for(var y = 0; y < grid[x].length;y++){
            ctx.fillStyle = "rgb("+(100-((grid[x][y].elevation-sealevel)*10))+","+Math.round(200-((grid[x][y].elevation-sealevel)*10))+","+(100-((grid[x][y].elevation-sealevel)*10))+")";
            if(grid[x][y].water)
                ctx.fillStyle = "#6666FF";
            else if(grid[x][y].elevation < sealevel+2)
                ctx.fillStyle = "rgb("+(224-(grid[x][y].elevation-sealevel)*10)+", "+(230-(grid[x][y].elevation-sealevel)*10)+", "+(168-((grid[x][y].elevation-sealevel)*10))+")";
            ctx.fillRect(x*(tilesize),y*(tilesize),tilesize,tilesize);
            
            if(grid[x][y].texture != null){
                var img = document.getElementById(grid[x][y].texture);
                ctx.drawImage(img,x*tilesize,y*tilesize,tilesize,tilesize);
            }
		}
	}

	setTimeout(drawAll,20);
}

drawAll();
		
</script>